<!-- jQuery -->
<script src="/assets/js/jquery.js" type="application/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js" type="application/javascript"></script>

<!-- Plugin JavaScript -->
<script src="/assets/js/jquery.easing.min.js" type="application/javascript"></script>
<script src="/assets/js/jquery.fittext.js" type="application/javascript"></script>
<script src="/assets/js/wow.min.js" type="application/javascript"></script>

<!-- Custom Theme JavaScript -->
<script src="/assets/js/creative.js" type="application/javascript"></script>
